<%- include('partials/header') -%>

<h1>Home</h1>

<p><%= home_content %></p>

<%posts.forEach(function(p) { %>
    <h3><%= p.ptitle %></h3>
    <p>
        <%if(p.pbody.length>100) {%>
            <%= p.pbody.slice(0, 100)+'...' %>
        <%} else {%>
            <%= p.pbody %>
        <%}%>
        <span><a href="/posts/<%= p.ptitle %>">Read More</a></span>
    </p>
<%})%>

<%- include('partials/footer') -%>
